<html>
	<head>
		<title>Menu Desplegable</title>
		<style type="text/css">
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				color:#BE1621;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:white;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			
		</style>

		<div id="nav">
			<ul class="nav">
				<li>
					<ul>
						<li><a href="">Submenu1</a></li>
						<li><a href="">Submenu2</a></li>
						<li><a href="">Submenu3</a></li>
						<li><a href="">Submenu4</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div id="navbarra">
						<a href="#idea"><div class="navboto"><p>Idea</p></div></a>
						<a href="#historia"><div class="navboto"><p>Història</p></div></a>
						<a href="#acces"><div class="navboto"><p>Accés</p></div></a>
						<a href="#visita"><div class="navboto"><p>Visita guiada</p></div></a>
						<a href="#gastro"><div class="navboto"><p>Gastronomia</p></div></a>
					</div>